<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Create A Basketball Team!</title>
  </head>
  <body>
    <h1>Create A Basketball Team!</h1>
    <form method= "POST" action= "/team">
      <label>Team name: <input type= "text" name= "team_name"></label><br/>
      <label>Coach: <input type= "text" name= "coach"></label><br/>
      <label>Point Guard: <input type= "text" name= "point_guard"></label><br/>
      <label>Shooting Guard: <input type= "text" name= "shooting_guard"></label><br/>
      <label>Small Forward: <input type= "text" name= "small_forward"></label><br/>
      <label>Power Forward: <input type= "text" name= "power_forward"></label><br/>
      <label>Center: <input type= "text" name= "center"></label><br/>
      <input type= "submit" id= "Submit" />
    </form>
  </body>
</html>

